.cover {
    position:relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 756px;
    /*width: 100%;*/
    z-index: 0;
    text-transform: uppercase;
}

.cover__title {
    position: relative;
    display: block;
    z-index: 2;
    padding: 165px 49px 2px 53px;
}

.aligned-text {
    position: relative;
    display: block;
    padding-bottom: 10px;
    letter-spacing: 25px;
    width: 100%;
    z-index: 2;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

/* управление межбуквенным расстоянием */
.letter-spacing-extended {
    letter-spacing: 59px;
}

/* управление межбуквенным расстоянием */
.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
    position: relative;
    display:grid;
    grid-template-columns: 1fr 305px;
    grid-template-rows: 53px;
    z-index: 1;
    bottom: -112px;    
}

.cover__description-text {
    word-spacing: 18px;
    font-size: 22px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.bet-button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding-top: 15px;
    padding-right: 33px;
    padding-bottom: 13px;
    padding-left: 30px;
    font-size: 22px;
    margin-right: auto;
    text-transform: uppercase;
 }

