.cover {
    position:relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 945px;
    width: 102%;
    z-index: 0;
    text-transform: uppercase;
}

.cover__title {
    position: relative;
    display: block;
    z-index: 2;
    padding: 207px 62px 23px 64px;
}

.aligned-text {
    position: relative;
    display: block;
    padding-bottom: 10px;
    letter-spacing: 38px;
    width: 100%;
    z-index: 2;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

/* управление межбуквенным расстоянием */
.letter-spacing-extended {
    letter-spacing: 74px;
}

/* управление межбуквенным расстоянием */
.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
    position: relative;
    display:grid;
    grid-template-columns: 1fr 387px;
    grid-template-rows: 63px;
    z-index: 1;
    bottom: -127px;
}

.cover__description-text {
    word-spacing: 29px;
    font-size: 26px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.bet-button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding-top: 10px;
    padding-right: 42px;
    padding-bottom: 13px;
    padding-left: 40px;
    font-size: 27px;
    margin-right: auto;
    text-transform: uppercase;
 }

